.header-top
    .header-top__wrapper
        .socials(class="socials_header")
            - var socials = {'fb':'Facebook', 'vk':'Вконтакте', 'tw':'Twitter'}
            ul.socials__list(class="socials__list_header")
                each social, key in socials
                    li.socials__item(class="socials__item_header")
                        a(href="//#{key}.com" class="socials__link socials__link_#{key}-header" title="Ссылка на #{social}" target="_blank") Ссылка на #{social}
        .contacts
            - var contacts = {'map': 'ул. Маяковская 6, офис 17', 'telephone': '+7 (921) 123-12-13'}
            ul.contacts__list
                each contact, key in contacts
                    li.contacts__item
                        a(href="" + ((key == 'telephone') ? "callto:+79211231213" : "#") class="contacts__link contacts__link_#{key}" title="#{contact}") #{contact}