//Контент
article.content
    //Сортировка
    .sort
        span.sort__select-label Сортировать по
        - var options = ['по цене', 'по популярности']
        select.sort__select
            each option in options
                option.sort__option #{option}
        .sort__view
            span.sort__view-title Вид каталога
            - var views = {'table': 'Таблица', 'pic': 'Значки', 'list': 'Список'}
            - var viewsIndex = 0
            ul.sort__list
                each view, key in views
                    li.sort__item(class="" + ((viewsIndex++ == 0) ? " active" : ''))
                        a(href="#" class="sort__link sort__link_#{key}" title="#{view}" data-view="#{key}") #{view}
    //Товары
    .goods(class="goods_table")
        include ./_phones
        ul.goods__list
            each product in products
                li.goods__item
                    .product-slider
                        .product-slider__main-wrapper
                            img.product-slider__main-image(src="img/products/#{product.img}-left.jpg" alt="#{product.name}")
                            - var positions = ['left', 'center', 'right']
                        ul.product-slider__min-image-list
                            each position, index in positions
                                li(class="product-slider__min-image-item" + ((index == 0) ? " product-slider__min-image-item_active" : ''))
                                    img.product-slider__min-image(src="img/products/#{product.img}-#{position}.jpg" alt="#{product.name}" class="product-slider__min-image_#{position}")
                        .article
                            span.article__text #{"Артикул "}
                            span.article__number #{product.art}
                    .product-info
                        p.product-type #{"Смартфон"}
                        p.product-name #{product.name}
                        - var infoKeys = {'Тип SIM-карты': product.simType, 'Количество SIM-карт': product.sim, 'Цвет': product.color, 'ОC': product.system, 'Связь 3G': product.has3g, '4G (LTE)': product.has4g, 'GPS-модуль': product.gps}
                        ul.product-info__list
                            - var infoIndex = 0
                            each value, key in infoKeys
                                li.product-info__item(class="" + ((infoIndex++%2 == 0) ? " product-info__item_dark" : ''))
                                    span.product-info__key #{key}
                                    span.product-info__value #{value}
                        p.product-info__info #{product.info}
                        .product-rating(data-rating="#{product.rating}" )
                            - var star = 0
                            ul.product-rating__list
                                while star++ < 5
                                    li.product-rating__star
                            .product-rating__count
                    .product-buy
                        .product-buy__price #{product.price}
                            span.rouble г
                        .product-buy__wrapper
                            button.product-buy__button В корзину
                            span.product-buy__stock(class="product-buy__stock_#{product.stock}") #{product.stockText}
    //Страницы
    nav.pages-nav
        - var pages = [1, 2, 3]
        ul.pages-nav__list
            li.pages-nav__item
                a.pages-nav__link(href="#" class="pages-nav__item_left") &lt;
            each page, index in pages
                li.pages-nav__item
                    a.pages-nav__link(href="#" class="" + ((index == 0) ? " pages-nav__link_active" : '')) #{page}
            li.pages-nav__item
                a.pages-nav__link(href="#" class="pages-nav__item_right") &gt;